.itemCard {
    margin: 60px;
    border: 1px solid black;
    border-radius: 20px;
    max-width: 1000px;
  }
  
  .itemCardContent {
    margin: 20px;
  }
  
  .itemCard h3 {
    text-transform: uppercase;
  }
  
  .itemBody {
    display: flex;
    justify-content: space-between;
  }
  
  .itemBody img {
    width: 300px;
  }
  
  .itemBody p {
    width: 300px;
  }
  
  .bodyComponent {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  
  .bodyComponent p {
    display: flex;
    padding: 0;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .bodyComponent button {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding: 5px;
    width: 130px;
  }