

/* Container for product and its details */
.productContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  margin: 20px;
}

.productDetails, .productPurchase {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productImage {
  width: 100%;
  height: auto;
}

.recommendedItem {
  display: flex;
  gap: 10px;
}

.recommendedImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.productOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productOption {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.optionContainer {
  display: flex;
  gap: 10px;
}

.optionButton {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f9;
  cursor: pointer;
}

.optionButton:hover {
  background-color: #ddd;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.infoSection {
  display: flex;
  flex-direction: column;
}

.infoButton {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f9;
  cursor: pointer;
  text-align: left;
}

.infoButton:hover {
  background-color: #ddd;
}

.infoContent {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

