/* Allgemeine Stile für das gesamte Dokument */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  background-color: #f2f2f2;
}

h1,
h2,
h3,
p,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Navigation Styles */
nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  text-transform: uppercase;
  background-color: #3d5a6c;
  border-bottom: 1px solid black;
  padding: 20px;
}

nav h1 {
  justify-self: start;
  font-size: 2em;
  color: #f8f8f9;
}

nav p {
  justify-self: start;
  color: #f8f8f9;
}

nav ul {
  display: flex;
  justify-self: center;
  list-style: none;
  gap: 20px;
}

nav a {
  color: #f8f8f9;
}

nav .cart {
  justify-self: end;
}

/* Main Styles */
main {
  flex: 1;
  margin: 20px 0 20px 0;
}

.mainContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  text-transform: uppercase;
}

/* Item Card Styles */
.itemCard {
  border: 1px solid black;
  border-radius: 15px;
  width: 980px;
  margin: 15px 0 15px 0;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemImage {
  max-width: 100%;
  height: auto;
}

.itemDescription {
  margin: 10px 0;
}

.itemPrice {
  font-weight: bold;
}

.cart-button {
  background-color: #3d5a6c;
  color: #f8f8f9;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.cart-button:hover {
  background-color: #2b3f4d;
}

/* Filter Styles */
.itemFilter {
  width: 400px;
  height: 700px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  display: grid;
  justify-content: center;
}

/* Container Styles */
.shardContainer {
  display: grid;
  justify-content: center;
  gap: 20px;
}

.shardRow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.shard {
  text-align: center;
  height: 250px;
  width: 250px;
  border: 1px solid black;
}

.spacer {
  margin: 20px;
  border-bottom: 1px solid black;
}

/* Footer Styles */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-transform: uppercase;
  background-color: #3d5a6c;
  color: #f8f8f9;
  padding: 20px;
  border-top: 1px solid black;
}

footer div {
  justify-self: start;
  font-size: 1em;
}

footer ul {
  display: flex;
  justify-self: end;
  list-style: none;
  gap: 20px;
}

footer a {
  color: #f8f8f9;
}








 